.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;
}

.project .hero-section {
  position: relative;
  width: 100%;
  height: 909px;
  margin-right: -504.00px;
}

.project .div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  gap: 9px;
  overflow: hidden;
  background: linear-gradient(
    261deg,
    rgba(255, 231, 235, 1) 0%,
    rgba(255, 191, 202, 1) 100%
  );
}

.project .frame {
  display: flex;
  margin-top: 14.25em;
  width: 45%;
  height: auto;
  position: relative;
  margin-left: 6.25em;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
}

.project .group {
  position: absolute;
  top: 9.5em;
  left: 0;
  width: 100%;
  height: 20px;
}

.project .your-resume-deserves {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 4em;
  letter-spacing: 0;
  line-height: 64px;
}

.project .text-wrapper {
  color: #000000;
  line-height: 78px;
}

.project .span {
  color: #fa1239;
  line-height: 85px;
}

.project .text-wrapper-2 {
  color: #000000;
  line-height: 85px;
}

.project .if-your-resume-isn-t {
  position: relative;
  width: 485px;
  font-family: "Figtree-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 34px;
}

.project .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.project .buttons {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #fa1239;
  box-shadow: 0px 0px 12px #fa123994;
  display: inline-flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 22px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 30px;
}

.project .contact {
  color: #fa1239;
  position: relative;
  width: fit-content;
  margin-top: -3.00px;
  margin-bottom: -1.00px;
  font-family: "Figtree-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.project .contact-wrapper {
  all: unset;
  box-sizing: border-box;
  background-color: #fa1239;
  box-shadow: 0px 0px 12px #fa123994;
  display: inline-flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 22px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 30px;
}

.project .contact-2 {
  color: #ffffff;
  position: relative;
  width: fit-content;
  margin-top: -3.00px;
  margin-bottom: -1.00px;
  font-family: "Figtree-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.project .women-svg {
  margin-top: 190px;
  width: 671px;
  height: 727px;
  position: relative;
}

.project .group-2 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 656px;
  height: 727px;
}

.project .ellipse {
  top: 71px;
  left: 0;
  width: 656px;
  height: 648px;
  position: absolute;
  aspect-ratio: 1;
}

.project .img {
  top: 172px;
  left: 101px;
  width: 476px;
  height: 476px;
  position: absolute;
  aspect-ratio: 1;
}

.project .portrait-happy-young {
  position: absolute;
  top: 0;
  left: 67px;
  width: 506px;
  height: 719px;
  aspect-ratio: 0.7;
}

.project .frame-3 {
  position: absolute;
  top: 544px;
  left: 400px;
  width: 271px;
  height: 133px;
}

.project .frame-4 {
  position: absolute;
  top: 395px;
  left: 0;
  width: 350px;
  height: 117px;
}

.project .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.project .frame-5 {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  position: relative;
  align-self: stretch;
  width: 100% !important;
  box-sizing: border-box;
}

.project .group-3 {
  position: relative;
  width: 231.17px;
  height: 58px;
  aspect-ratio: 3.99;
  background-image: url(./img/group-155.svg);
  background-size: 100% 100%;
}

.project .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}

.project .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.project .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--typography-18-medium-font-family);
  font-weight: var(--typography-18-medium-font-weight);
  color: #282828;
  font-size: var(--typography-18-medium-font-size);
  letter-spacing: var(--typography-18-medium-letter-spacing);
  line-height: var(--typography-18-medium-line-height);
  font-style: var(--typography-18-medium-font-style);
}

.project .home {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Figtree-Medium", Helvetica;
  font-weight: 500;
  color: #282828;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.project .home-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--typography-18-medium-font-family);
  font-weight: var(--typography-18-medium-font-weight);
  color: #282828;
  font-size: var(--typography-18-medium-font-size);
  letter-spacing: var(--typography-18-medium-letter-spacing);
  line-height: var(--typography-18-medium-line-height);
  font-style: var(--typography-18-medium-font-style);
}

.project .buttons-2 {
  background-color: #fa1239;
  box-shadow: 0px 0px 12px #fa123991;
  display: inline-flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 22px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 30px;
}

.project .frame-7 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  overflow: hidden;
}

.project .group-4 {
  position: absolute;
  top: -74px;
  left: -1px;
  width: 1442px;
  height: 862px;
  background-color: #ffffffcc;
}

.project .frame-8 {
  display: flex;
  flex-direction: column;
  max-width: 1255px;
  width: 90%;
  gap: 50px;
  margin: 50px auto 0 auto;
  top: 50px;
  left: 100px;
}

.project .frame-9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 26px;
  position: relative;
  flex: 0 0 auto;
}

.project .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.project .what-you-get-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #fd92a44c;
  border-radius: 6px;
}

.project .what-you-get {
  position: relative;
  width: 113.34px;
  height: 13.03px;
}

.project .you-re-not-just {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--typography-h4-26-semibold-font-family);
  font-weight: var(--typography-h4-26-semibold-font-weight);
  color: #000000;
  font-size: var(--typography-h4-26-semibold-font-size);
  text-align: center;
  letter-spacing: var(--typography-h4-26-semibold-letter-spacing);
  line-height: var(--typography-h4-26-semibold-line-height);
  font-style: var(--typography-h4-26-semibold-font-style);
}

.project .frame-11 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  padding: 10px 2px;
}

.project .frame-12 {
  display: flex;
  flex-direction: column;
  flex: 1 1 22%;
  min-height: 450px;
  align-items: flex-start;
  gap: 24px;
  padding: 20px;
  position: relative;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 16px #00000014;
}

.project .frame-13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.project .vector {
  position: relative;
  width: 300px;
  height: 200px;
  margin-left: -20.62px;
  margin-right: -20.62px;
  aspect-ratio: 1.5;
}

.project .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--typography-20-medium-font-family);
  font-weight: var(--typography-20-medium-font-weight);
  color: #000000;
  font-size: var(--typography-20-medium-font-size);
  letter-spacing: var(--typography-20-medium-letter-spacing);
  line-height: var(--typography-20-medium-line-height);
  font-style: var(--typography-20-medium-font-style);
}

.project .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Figtree-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
}

.project .frame-14 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.project .text-wrapper-5 {
  flex: 1;
  height: 48px;
  margin-top: -1.00px;
  font-family: var(--typography-20-medium-font-family);
  font-weight: var(--typography-20-medium-font-weight);
  font-size: var(--typography-20-medium-font-size);
  line-height: var(--typography-20-medium-line-height);
  position: relative;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  color: #000000;
  letter-spacing: var(--typography-20-medium-letter-spacing);
  font-style: var(--typography-20-medium-font-style);
}

@media (max-width:1440px) {
  .frame-wrapper {
    width: 100% !important;
  }
  .frame-5 {
    width: 75% !important;
  }
  /* .project .frame-1 {
    width: 100% !important;
  }
  .project .frame-2 {
    width: 100% !important;
  }
  .project .frame-3 {
    width: 100% !important;
  }
  .project .frame-4 {
    width: 100% !important;
  }
  .project .frame-5 {
    width: 100% !important;
  }
  .project .frame-6 {
    width: 100% !important;
  } */

  .project .frame-7 {
    width: 100% !important;
    margin-top: 0px;
  }
  .project .frame-8 {
    width: 100% !important;
    left: 0;
  }
  .project .frame-9 {
    width: 100% !important;
  }
  .project .frame-10 {
    width: 100% !important;
  }
  .project .frame-11 {
    width: 100% !important;
  }
  .project .frame-12 {
    width: 100% !important;
  }
  .project .frame-13 {
    width: 100% !important;
  }
  .project .frame-14 {
    width: 100% !important;
  }
  .project .your-resume-deserves {
    font-size: 64px;
  }
}

@media (max-width: 1024px) {
  .project .frame-12 {
    flex-basis: 45%; 
  }
  .project .div-wrapper .text {
    font-size: 14px;
  }
  .project .frame-5 {
    padding: 0px 50px;
  }
  .project .your-resume-deserves {
    font-size: 46px;
  }
  .project .text-wrapper {
    line-height: 0px;
  }
  .project .text-wrapper-2 {
    line-height: 0px;
  }
  .project .group {
    top: 7.3em;
    left: -89px;
    height: 16px;
  }
  .project .span {
    line-height: 0px;
  }
  .project .if-your-resume-isn-t {
    font-size: 14px;
  }
  .project .frame {
    margin-left: 3.5em;
  }
  .project .portrait-happy-young {
    top: -40px;
    left: 11px;
    width: 422px;
    height: 696px;
  }
  .project .ellipse {
    top: -38px;
    left: 0px;
    width: 465px;
    height: 641px;
  }
  .project .frame-4 {
    top: 319px;
    left: 21px;
    width: 227px;
    height: 117px;
  }
  .project .frame-3 {
    top: 458px;
    left: 299px;
    width: 158px;
    height: 117px;
  }
  .project .frame-7 {
    margin-top: -105px;
  }
}

@media (max-width: 768px) {
  .project .frame-12 {
    flex-basis: 100%;
  }
  .project .frame-6 {
    display: none;
  }
  .project .frame-5 {
    padding: 0px 40px;
  }
  .project .div-wrapper .text {
    font-size: 14px;
  }
  .project .frame-5 {
    padding: 0px 50px;
  }
  .project .your-resume-deserves {
    font-size: 32px;
  }
  .project .text-wrapper {
    line-height: 0px;
  }
  .project .text-wrapper-2 {
    font-size: 32px;
    top: -40px;
    position: relative;

  }
  .project .group {
    top: 5.6em;
    left: -69px;
    height: 12px;
  }
  .project .span {
    position: relative;
    top: -20px;
    font-size: 36px;
  }
  .project .if-your-resume-isn-t {
    font-size: 14px;
    position: relative;
    top: -60px;
    width: 350px;
  }
  .project .contact {
    font-size: 13px;
  }
  .project .contact-2 {
    font-size: 13px;
  }
  .project .frame-2 {
    top: -60px;
  }
  .project .frame {
    margin-left: 3.5em;
  }
  .project .portrait-happy-young {
    top: -50px;
    left: 11px;
    width: 280px;
    height: 696px;
  }
  .project .ellipse {
    top: -38px;
    left: 0px;
    width: 323px;
    height: 641px;
  }
  .project .frame-4 {
    top: 285px;
    left: 14px;
    width: 154px;
    height: 117px;
  }
  .project .frame-3 {
    top: 386px;
    left: 199px;
    width: 118px;
    height: 117px;
  }
  .project .div {
    bottom: 298px;
    top: -80px;
  }
  .project .frame-7 {
    margin-top: -295px;
  }
  .project .buttons-2 {
  top: 60px;
  }
}

@media (max-width: 500px) {
  .project .frame-5 {
    padding: 0px 10px;
  }
}

@media (max-width: 600px) {
  .hero-section .div {
    display: flex;
    flex-direction: column;
  }
  .project .your-resume-deserves {
    width: 180%;
  }
  .project .group {
        top: 5.3em;
        left: 7px;
        height: 20px;
        width: 109%;
    }
}
