:root {
  --typography-18-medium-font-family: "Figtree", Helvetica;
  --typography-18-medium-font-weight: 500;
  --typography-18-medium-font-size: 18px;
  --typography-18-medium-letter-spacing: 0px;
  --typography-18-medium-line-height: normal;
  --typography-18-medium-font-style: normal;
  --typography-h4-26-semibold-font-family: "Figtree", Helvetica;
  --typography-h4-26-semibold-font-weight: 600;
  --typography-h4-26-semibold-font-size: 26px;
  --typography-h4-26-semibold-letter-spacing: 0px;
  --typography-h4-26-semibold-line-height: normal;
  --typography-h4-26-semibold-font-style: normal;
  --typography-20-medium-font-family: "Figtree", Helvetica;
  --typography-20-medium-font-weight: 500;
  --typography-20-medium-font-size: 20px;
  --typography-20-medium-letter-spacing: 0px;
  --typography-20-medium-line-height: normal;
  --typography-20-medium-font-style: normal;
}


